

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="color:#FFF;background-color:#78B34F">
        <div class="row">
          <div class="span4">
            <img src='/img/percolator.png' style="align:right" />
          </div>
          <div class="span6">
            <img src="/img/hero-name.png" .>
            <p> Percolator is a new kind of web application framework for
            <a href='nodejs.org'>node.js</a><br /> for fun and fast development
            of <strong>quality web APIs</strong>.
            </p>
            <p>
            It's great for:
            <ul>
              <li><h5>quality, public-facing APIs</h5></li>
              <li><h5>single page apps</h5></li>
              <li><h5>mobile apps</h5></li>
            </ul>
            </p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Simple Routing</h2>
          <p><ul><li>No regular expressions</li>
          <li>No sprawling routes files</li>
          <li>No tedious url duplication for each HTTP method.</li></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Great Status Responses</h2>
          <p>A great API should be concerned with more than just the happy path.  
          Percolator does its best to help make error messages and other statuses simple 
          for you to produce and simple for your clients to consume.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Just HTTP</h2>
          <p>Percolator tries to get out of HTTP's way by not adding unnecessary
          abstractions on top of it.  If you know HTTP, you will not have to learn
          a bunch of new concepts to understand Percolator.  </p>
          <p>It doesn't concern
          itself with "views" or "models" or anything else that is peripheral to
          HTTP as an application protocol.</p>

          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

